__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info
dist/
build/
.eggs/
.env
.venv
env/
venv/
*.parquet
test_basic/
test_count_storage/
test_parquet/
test_query_storage/
test_select_storage/
test_serialize_storage/
test_store_api/
test_full_workflow/
parquet_triples/